/* body{
    color: #fff;
}

li {
    padding-bottom: 20px;
    background-color: #fff;
}
.center-text{
    text-align:center;
}

.background {
    background: url("../images/background.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-container img {
    height: 10em;
}

@media only screen and (max-width: 600px) {
    .icon-container img{
        height: 8em;
    }
  } */



img {
    width:100%;
}

body{
    color: #fff;
}

li {
    padding-bottom: 20px;
    background-color: #fff;
}
.center-text{
    text-align:center;
}

slide-out {
    background-color: #fff;
}
.background {
    height: 100vh;
    background: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.background-navbar{
    background: white;

}

.icon-container img {
    height: 10em;
}

.navbar-img{
    width: 2em;
    height: 2em;
}

    

@media only screen and (max-width: 600px) {
    .icon-container img{
        height: 8em;
    }}